venv/
.env/
__pycache__/
*.pyc
*.pyo
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*~
.cache/
.Trash-*/
.DS_Store
.AppleDouble
.LSOverride
.idea/
.vscode/
*.iml
*.swp
*.swo
*.swn
*~

raw_audio_files/
highscore.txt